html,body{
        font-family: Arial,sans-serif;
        margin:0;
        padding:0;
        background-color:rgb(211, 208, 225);
      }
       header{
        background-color:rgba(27, 215, 225, 0.732);
        color:white;
        padding:20px;
        text-align:center;
      }
       nav{
        background-color:rgb(74, 97, 5);
        padding:10px;
        text-align:center;
      }
      nav a{
        color:white;
        margin:0 10px;
        text-align:center;
      }
      nav a:hover{
        text-decoration: underline;
      }
      main{
        padding: 20px;
        background-color: rgb(27, 213, 17);
      }
      footer{
        background-color: rgb(80, 207, 190);
        color: rgb(41, 38, 37);
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      .forum{
        max-width: 600px; margin:60px auto;
        padding: 0 20px;
      text-align: center;}
      .post, .comment{ background: #ab2e2e;padding: 15px;margin-bottom: 10px;border-radius: 5px;}
      .comment{margin-left: 20px; background: #f1f1f1;}
      input, textarea{width: 100%;
      max-width: 500px;}
.post-form input,
.post-form textarea,
.post-form button { 
  display: block;
  margin-bottom: 25px; 
}


.post h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.post p {
  margin-bottom: 10px;
}
.comment {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #f1f1f1;
}
      